<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
<h3 class="mb-4 text-center" style="white-space: nowrap; font-size: 1.2rem;">Add a New Compliance Checklist Item</h3>

  <div>
    <label>Category:</label>
    <select formControlName="category">
      <option *ngFor="let category of CategoryEnum" [value]="category">{{ category }}</option>
    </select>
  </div>
  
  <div>
    <label>Description:</label>
    <input type="text" formControlName="description">
  </div>

  <div>
    <label>Due Date:</label>
    <input type="date" formControlName="dueDate">
  </div>

  <div>
    <label>Priority:</label>
    <select formControlName="priority">
      <option *ngFor="let priority of PriorityEnum" [value]="priority">{{ priority}}</option>
    </select>
  </div>

  <div>
    <label>Status:</label>
    <select formControlName="status">
      <option *ngFor="let status of StatusEnum" [value]="status">{{ status }}</option>
    </select>
  </div>

  <div class="d-flex justify-content-between">
    <button type="submit">Submit</button>
    <button (click)="close()">Close</button>
  </div>
 
</form>
